/* Search bar */
.search-bar {
    flex-grow: 1;
    margin: 12px 16px 0;
}
/* input in search bar */
.search-input {
    flex-grow: 1;
    min-width: 200px;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
}
/* Dark theme search bar */
.search-input.dark {
    background-color: #303134;
    color: white;
}
.search-input.dark::placeholder {
    color: #ccc;
}
/* Light theme search bar */
.search-input.light {
    background-color: #e7e7e7;
    color: #000;
}
.search-input.light::placeholder {
    color: #666;
}

/* Search icon button */
.search-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

/* Icon visibility */
.light-top-menu .search-btn i {
    color: #5f6368; /* subtle dark grey used by Gmail */
}
.dark-top-menu .search-btn i {
    color: #e8eaed; /* light grey used in dark Gmail */
}

.search-container {
    position: relative;
    flex-grow: 1;
    width: 100%;
    max-width: 600px;
    margin: 0 16px;
}
